.chatlist-wrapper {
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    height: 100%;
}
.msg-caption {
    list-style-type: none;
    width: 100%;
}
.msg-caption h3 {
    color: #7A7A7A;
    line-height: 22px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 6px;
    font-size: 12px;
    padding-left: 1px;

    margin-top: 8px;
    margin-left: 8px;
}
.msg-caption .user-host {
    float: left;
    margin-left: 4px;
    margin-top: 4px;
    width: 32px;
}
.msg-caption .time {
    float: right;
    line-height: 22px;
    font-size: 12px;
    color: #7a7a7a;

    margin-top: 8px;
}
.msg-caption .msg-content {
    color: #2B2B2B;
    background: #F3F3F3;
    clear: both;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 3px;
    display: table;
    word-break: break-all;
}
