.main-wrapper {
    background-color: #F4F4F4;
}

.main-wrapper .video-js .vjs-big-play-button {
    height: 1.63332em !important;
    width: 1.63332em !important;
    border-radius: 0.81666em !important;
    left:0; right:0; top:0; bottom:0 !important;
    margin:auto !important;
}

.main-wrapper .vjs-seeking .vjs-loading-spinner, .vjs-waiting .vjs-loading-spinner {
    display: none !important;
}