.chatlistvertical-wrapper {
    width: 100%;
    height: 3.64rem;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 0.08rem;
}

.chatlistvertical-wrapper::-webkit-scrollbar {
    display: none;
}

.msg-caption-vertical-box {
    list-style-type: none;
}

.msg-caption-vertical-box .msg-caption-vertical-item {
    display: inline-block;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.16rem;
    line-height: 0.36rem;
    padding: 0.12rem 0.18rem;
    margin-top: 0.08rem;
}

.msg-caption-vertical-box .msg-caption-vertical-item .user-name-vertical {
    color: #FFE654;
    font-size: 0.28rem;
    display: inline-block;
}

.msg-caption-vertical-box .msg-caption-vertical-item .msg-content-vertical {
    color: #FFFFFF;
    font-size: 0.28rem;
    display: inline;
}
