.get-kickout-dialog .note {
    text-align: center;
    width: 100%;
}

.get-kickout-dialog .sure {
    width: 100%;
    background: coral;
    border-radius: 4px;
    height: 44px;
    color: white;
    font-size: 19px;
    margin-top: 70px;
    text-align: center;
    padding-top: 7px;
    margin-bottom: 80px;
    cursor: pointer;
}

.get-kickout-dialog .mobile-sure {
    width: 100%;
    background: coral;
    border-radius: 0.08rem;
    height: 0.68rem;
    color: white;
    font-size: 0.33rem;
    margin-top: 0.8rem;
    text-align: center;
    padding-top: 0.07rem;
    cursor: pointer;
}